*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%; /* Убедимся, что корневой контейнер тоже растягивается */
}

.ant-layout {
  height: 100%; /* Задаем высоту для Ant Design Layout */
}

.ant-layout-content {
  overflow: auto; /* Только содержимое прокручивается */
}

.logout-icon:hover {
  color: rgba(184, 2, 2, 0.824);
}